.side-padding {
    padding: 0 20% !important;
}

@media screen and (max-width: 768px) {
    .side-padding {
        padding: 0 5% !important;
    }
}

p {
    margin-bottom: 0 !important;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-20 {
    font-size: 20px;
}

.font-25 {
    font-size: 25px;
}

.font-30 {
    font-size: 30px;
}

.font-40 {
    font-size: 40px;
}

.w-25 {
    width: 25%;
}

.w-45 {
    width: 45%;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

