registry=https://pkgs.dev.azure.com/lisaboespflug/_packaging/lisaboespflug/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/lisaboespflug/_packaging/lisaboespflug/npm/registry/:username=lisaboespflug
//pkgs.dev.azure.com/lisaboespflug/_packaging/lisaboespflug/npm/registry/:_password=eWViaXdodGRia2JjYTdiY2x4NGJrNjZpd2V3aGZxYWE1aGRhbGgzdzRwM3JnZHptdG5pYQ==
//pkgs.dev.azure.com/lisaboespflug/_packaging/lisaboespflug/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/lisaboespflug/_packaging/lisaboespflug/npm/:username=lisaboespflug
//pkgs.dev.azure.com/lisaboespflug/_packaging/lisaboespflug/npm/:_password=eWViaXdodGRia2JjYTdiY2x4NGJrNjZpd2V3aGZxYWE1aGRhbGgzdzRwM3JnZHptdG5pYQ==
//pkgs.dev.azure.com/lisaboespflug/_packaging/lisaboespflug/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

