registry=https://pkgs.dev.azure.com/lisaboespflug/EatBox/_packaging/feed/npm/registry/

always-auth=true


; begin auth token
//pkgs.dev.azure.com/lisaboespflug/EatBox/_packaging/feed/npm/registry/:username=vsssessiontoken
//pkgs.dev.azure.com/lisaboespflug/EatBox/_packaging/feed/npm/registry/:_password=aGM0dGc3eHJsamhnbzd1dXNhNzR6YXpsdXdxaW00dXV0MjVtcG1wdWEydnNqejdpcWp4YQ==
//pkgs.dev.azure.com/lisaboespflug/EatBox/_packaging/feed/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/lisaboespflug/EatBox/_packaging/feed/npm/:username=vsssessiontoken
//pkgs.dev.azure.com/lisaboespflug/EatBox/_packaging/feed/npm/:_password=aGM0dGc3eHJsamhnbzd1dXNhNzR6YXpsdXdxaW00dXV0MjVtcG1wdWEydnNqejdpcWp4YQ==
//pkgs.dev.azure.com/lisaboespflug/EatBox/_packaging/feed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token